#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.todo {
  background-color: #c4c4c4;
  color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  padding: 10px;
  border-radius: 16px;
}

.completed {
  opacity: 0.5;
}